# Compiled Files
bin/
obj/

# User-specific files
*.user
*.suo

# Build results
[Dd]ebug/
[Rr]elease/

# NuGet Packages
packages/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Ignore logs
*.log

# Ignore the build results
[Bb]in/
[Oo]bj/
